* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../../public/vendors/fonts/Gilroy/Gilroyregular.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Galien';
  src: url('../../public/vendors/fonts/Galien/Galien-Regular.ttf') format('ttf');
  font-weight: 800;
  font-style: normal;
}
body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  font-family: 'Gilroy';
}
body a {
  color: #222;
  text-decoration: none;
}
