*{
    box-sizing: border-box;
}
@color-blue-01: #1F3F68;
@color-blue-02: #316099;
@color-blue-03: #356EAD;
@color-blue-04: #5A98D0;
@color-blue-05: #98C3E8;

@color-gray-06: #F2F2F2;


@font-face {
    font-family: 'Gilroy';
    src:url('../../public/vendors/fonts/Gilroy/Gilroyregular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Galien';
    src: url('../../public/vendors/fonts/Galien/Galien-Regular.ttf') format('ttf');
    font-weight: 800;
    font-style: normal;
}


body{
    background-color: #fff;
    margin: 0;
    padding: 0;
    font-family: 'Gilroy';
    a{ 
        color: #222;
        text-decoration: none;
    }
}
