@import 'global.less';

.navigation {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.logo {
    width: 48px;
    height: 48px;
    background-image: url('../images/logo.svg');
    background-position: center;
    background-size: cover;
}
.burger {
    width: 24px;
    height: 16px;
    background-image: url('../images/burger.svg');
    background-position: center;
    background-size: cover;
    
}

.button {
    display: inline-block;
    padding: 15px 48px;
    background: @color-blue-04;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
}
.section-wrap {
    position: relative;
    width: 940px;
    margin: 0 auto;
}
.hero-section {
    height: 100vh;
    display: flex;
    position: relative;
    flex-direction: column;
    background-image: url('../images/illustration.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 23px) 89px;
    background-size: 50.5%;
    &:before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(0deg, #98C3E8 8.84%, rgba(152, 195, 232, 0) 31.12%);
        opacity: 0.2;
        background-size: cover;
        pointer-events: none;
    }
}

.navigation__burger {
    margin: 8px 4px;
}

.hero-section__navigation.navigation {
    padding: 40px 83px 0;
}

.navigation_inner-page {
    padding: 40px 83px;
}


.hero-section__content {
    max-width: 516px;
    margin: 97px auto auto 0;
}

.hero-section__content-title {
    margin-bottom: 35px;
    font-family: 'Galien';
    font-size: 56px;
    line-height: 74px;
    letter-spacing: 0.04em;
    font-weight: 600;
    color: @color-blue-01;
}

.hero-section__content-text {
    max-width: 425px;
    margin-bottom: 76px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    opacity: 0.6;
}

.what-we-do-section {
    padding: 180px 0 212px;
    position: relative;
}

.what-we-do-section__title {
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: @color-blue-02;
    position: absolute;
    left: 0;
    top: 0;
    max-width: 360px;
}

.what-we-do-section__cards-container {
    margin-top: 10px;
    padding-top: 17px;
}



.service-card {
    padding: 48px;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    background-color: #fff;
}

.service-card__image {
    width: 100%;
    margin-bottom: 56px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.service-card__title {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: @color-blue-01;
    margin-bottom: 16px;
    font-weight: 600;
}

.service-card__text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: @color-blue-01;
    opacity: 0.6;
    margin-bottom: 32px;
}

.service-card__link {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: @color-blue-04;
    &:after {
        content: '';
        display: inline-block;
        width: 16px;
        min-width: 16px;
        height: 16px;
        margin-left: 24px;
        vertical-align: middle;
        background: url('../../public/images/arrow-right.svg');
    }
}

.cards-container {
    display: flex;
    .column {
        display: flex;
        flex-direction: column;
        &:first-of-type {
            justify-content: center;
        }
        &:last-of-type {
            justify-content: space-between;  
        }
        .column__card {
            margin: 0 0 100px 100px;
            max-width: 380px;
        }
        .better-famous{
            .service-card__image {
                height: 132px;
                background-position: 17%;
            }
        }
        .bring-technology {
            .service-card__image {
                height: 207px;
                margin: -84px auto 56px auto;
                background-position: 65%;
                margin-bottom: 49px;
            }
        }
        .digital-product {
            .service-card__image {
                height: 131px;
                background-position: 33%;
            }
        }
        
    }
    .cards-container__column{
        &:first-of-type {
            margin-left: auto;
            .column__card {
                margin: -50px 0 0;
            }
        }
        &:last-of-type {
            .column__card:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}

.our-client {
    border-top-left-radius: 200px;
    background-color: @color-blue-04;
    .section-wrap {
        display: flex;
        flex-direction: column;
    }
}
.clients-info {
    display: flex;
}
.our-client__clients-info {
    padding-top: 96px;
    margin-bottom: 111px;
}
.clients-info__title {
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #fff;
    margin-right: 97px;
    max-width: 223px;
    width: 100%;
}
.clients-info__text {
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #fff;
    opacity: 0.6;
    max-width: 540px;
}

.clients-logos {
    display: flex;
    flex-wrap: wrap;
}

.client-logo {
    color: @color-gray-06;
    flex: auto;
    max-width: 25%;
    border: 1px solid #FFFFFF;
    border-left: 1px solid transparent;
    padding: 39px 42px;
    font-size: 20px;
    line-height: 46px;
    letter-spacing: 0.02em;
    position: relative;
    transition: background, 0.1s;
    text-align: center;

    &:nth-of-type(1),
    &:nth-of-type(2),
    &:nth-of-type(3),
    &:nth-of-type(4) {
        border-top: 1px transparent solid;
        border-bottom: 1px transparent solid;
    }
    &:nth-of-type(5),
    &:nth-of-type(6),
    &:nth-of-type(7),
    &:nth-of-type(8) {
        border-bottom: 1px transparent solid;
    }
    &:nth-of-type(4), &:last-of-type {
        border-right: 1px transparent solid;
    }
    &:hover {
        color: transparent;
        &:after {
            content: "More Client";
            width: 100%;
            height: 100%;
            background-color: rgba(@color-blue-01, 0.2);
            position: absolute;
            color: #fff;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.our_client__clients-logos {
    margin-bottom: 129px;
}

.our-client + footer {
    background-color: @color-blue-04;
}

.footer-wrap {
    background-color: @color-blue-02;
    width: ~"calc(100% - 96px)";
    position: relative;
    .section-wrap {
        max-width: 873px;
        padding-left: 15px;
        
    }
    &:nth-of-type(2) {
        .section-wrap {
            padding: 95px 0 90px 15px;
        }
    }
    &:first-child {
        border-top-right-radius: 200px;
    }
    &:not(:last-of-type):before {
        content: '';
        display: block;
        height: 1px;
        background: rgba(#fff, 0.4);
        position: absolute;
        bottom: 0;
        left: 0;
        width: ~"calc(100% - 197px)";
    }
}
.lets-talk-section {
    display: flex;
    padding-top: 89px;
    padding-bottom: 100px;
    position: relative;
    
}
.footer__button-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 6px;
    margin-left: auto;
}
.footer__button.button {
    padding: 15px 74px;
    white-space: nowrap;
}

.info-column__title {
    margin-bottom: 32px;
    max-width: 317px;
    font-size: 36px;
    line-height: 46px;
    color: #fff;
    letter-spacing: 0.05em;
}

.info-column__text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #fff;
    opacity: 0.6;
    max-width: 460px;
}

.contacts-section__company-name {
    margin-bottom: 32px;
    display: flex;
}

.company-name__logo {
    width: 48px;
    min-width: 48px;
    background-size: cover;
    margin-right: 15px;
    display: inline-block;
}

.company-name__text {
    font-size: 29px;
    line-height: 46px;
    letter-spacing: 0.02em;
    color: #fff;
}

.footer__contacts-section {
    display: flex;
}

.contacts-column-element {
    display: block;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #fff;
    &:not(:last-of-type) {
        margin-bottom: 16px;
    }
}

.contacts-section__column-title {
    margin-bottom: 32px;
    font-size: 22px;
    line-height: 30px;
    color: #fff;
}

.contacts-section {
    .column {
        &:first-of-type {
            margin-right: 100px;
            max-width: 300px;
            margin-top: 2px;
        }
        &:nth-of-type(2) {
            margin-right: 77px;
            min-width:163px;
        }
        &:nth-of-type(3) {
            min-width: 97px;
        }
    }
}

.contacts-section__company-adress,
.contacts-section__company-phone,
.contacts-section__company-email {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #fff;
    display: flex;
    &:not(:last-of-type) {
        margin-bottom: 22px;
    }
    &::before {
        display: block;
        margin-right: 20px;
    }
}
.contacts-section__company-adress:before {
    content: 'A.';
}
.contacts-section__company-phone:before {
    content: 'T.';
}
.contacts-section__company-email:before {
    content: 'E.';
}

.body__inner-page-title {
    margin-bottom: 57px;
}

.inner-page-title {
    padding: 50px 0;
    background-image: url('../../public/images/inner-page-title-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.inner-page-title__main-title {
    font-size: 44px;
    line-height: 74px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #fff;
    margin-bottom: 16px;
}
.inner-page-title__subtitle {
    font-size: 20px;
    line-height: 30px;
    max-width: 780px;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 0.04em;
    color: #fff;
    opacity: .6;
}

.contacts-wrap {
    display: flex;
    margin-bottom: 96px;
}


.contacts-column__illustration {
    width: 300px;
    height: 180px;
    margin-bottom: 70px;
    margin-left: 12px;
}

.column-element {
    margin-bottom: 40px;
}
.column-element__title {
    margin-bottom: 24px;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: @color-blue-01;
}
.column-element__text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: @color-blue-01;
    opacity: .6;
}

.column-element__text_web,
.column-element__text_email, 
.column-element__text_phone {
    margin-bottom: 16px;
    &:before {
        content: '';
        display: inline-block;
        margin-left: 2px;
        vertical-align: middle;
        background-repeat: no-repeat;
    }
}

.column-element__text_web {
    &:before {
        width: 20px;
        height: 20px;
        background-image: url('../../public/images/web-icon.svg');
        margin-right: 18px;
    }
}
.column-element__text_email {
    &:before {
        width: 20px;
        height: 20px;
        background-image: url('../../public/images/email-icon.svg');
        margin-right: 18px;
    }
}
.column-element__text_phone {
    &:before {
        width: 18px;
        height: 18px;
        background-image: url('../../public/images/phone-icon.svg');
        margin-right: 19px;
    }
}
.contacts-page__column {
    &:first-of-type {
        margin-top: 64px;
        margin-right: 88px;
    }
    &:last-of-type {
        width: 100%;
    }
    
}
.contact-form {
    padding: 56px;
    background: #FFFFFF;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
}
.contact-form__title {
    font-size: 20px;
    line-height: 30px;
    color: @color-blue-01;
    margin-bottom: 48px;
    font-weight: 600;
    letter-spacing: 0.04em;
}
.contact-form__label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: @color-blue-01;
    opacity: .8;
}

.contact-form__input {
    padding: 20px 36px;
    border: 1px solid rgba(@color-blue-03, .4);
    border-radius: 10px;
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    width: 100%;
    &::placeholder{
        color: @color-blue-01;
        opacity: 0.2;
    }
}

.contact-form__input_textarea {
    min-height: 144px;
    font-family: 'Gilroy';
    margin-bottom: 69px;
}
.contact-form__button {
    width: 100%;
    padding: 23px 0;
    border: none;
    margin: 0;
    font-size: 15px;
    line-height: 26px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.04em;
}
.contacts__map {
    width: 100%;
    margin-bottom: 96px;
}

.contacts-map__map-inner {
    width: 100%;
    height: 480px;
}

.contacts__result-form {
    margin-top: 8px;
    padding: 8px;
    border-radius: 4px;
    &.success {
        color: #4F8A10;
        background-color: #DFF2BF;
    }
    &.error {
        color: #D8000C;
        background-color: #FFD2D2;
    }
}

body.modal-opened {
    overflow-y: hidden;
    position: relative;
    .modal__overlay {
        display: block;
    }
}
.modal-window {
    display: none;
    position: fixed;
    left: 50%;
    margin: 32px 0;
    transform: translateX(-50%);
    top: 0;
    z-index: 9001;
    &.visible {
        display: flex;
    }
}
.success-modal {
   padding: 100px;
   background-color: #fff;
   border-radius: 8px;
   z-index: 100000;
   width: 50vw;
   height: 50vh;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.4);
}
.success-modal__text {
    margin-bottom: 32px;
}
.button.success-modal__button {
    padding: 10px 6px;
    width: 100%;
}
.modal__close {
    color: #fff;
    font-family: 'Helvetica',
    'Arial',
    sans-serif;
    font-size: 20px;
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    position: absolute;
    top: -22px;
    right: -22px;
    cursor: pointer;
}
.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9000;
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: 0.3;
    display: none;
}

@media (max-width: 1200px) {
    .our-client__clients-info {
        margin:  0 32px 64px;
    }
}

@media (max-width: 972px) {
    .section-wrap {
        width: 100%;
        margin: 0;
        padding-left: 16px;
        padding-right: 16px;
    }
    .hero-section__navigation.navigation {
        padding: 16px 16px 0;
    }
    .navigation_inner-page {
        padding: 16px;
    }
    .cards-container {
        flex-direction: column;
    }
    .cards-container {
        .column {
            .column__card {
                margin: 0 0 32px 0;
                max-width: none;
                width: 100%;
                .card__image {
                    background-position: center;
                    margin-top: 0;
                }
            }
        } 
    }
    .what-we-do-section__title {
        position: static;
        max-width: none;
    }
    .client-logo {
        max-width: 50%;
        width: 50%;
        &:nth-of-type(odd) {
            border-top: 1px transparent solid;
            border-bottom: 1px solid #fff;
            border-right: 1px transparent solid ;
            border-left: 1px transparent solid;
        }

        &:nth-of-type(even) {
            border-top: 1px transparent solid;
            border-bottom: 1px solid #fff;
            border-left: 1px solid #fff;
            border-right: 1px transparent solid;
        }
        &:nth-of-type(7), &:nth-of-type(8) {
            border-bottom: 1px solid transparent;
        }
    }
    .footer-wrap {
        width: 95%;
    }
    .footer-wrap:not(:last-of-type):before {
        width: ~"calc(100% - 64px)";
    }
    .lets-talk-section {
        flex-direction: column;
    }
    .footer__button-wrap {
        margin: 16px auto 0 0
    }
    .lets-talk-section {
        padding-bottom: 64px;
    }
    .footer__contacts-section {
        flex-direction: column;
    }
    .contacts-section {
        .contacts-section__column {
            &:first-of-type, &:nth-of-type(2), &:nth-of-type(3) {
                padding: 0;
                margin: 0;
            }
            &:not(:last-of-type) {
                margin-bottom: 32px;
            }
        }
    } 
    .contacts {
        .contacts-wrap {
            flex-direction: column;
        }
    }
    .contacts-column__illustration {
        width: auto;
        background-repeat: no-repeat;
    }
    .contacts-page__column:first-of-type {
        margin-right: 0;
    }
    .contacts-modal {
        width: 100%;
        padding: 16px;
    }
}

@media (max-width: 576px) {
    .section-wrap {
        .client-logo {
            max-width: 100%;
            width: 100%;
            border-top: 1px transparent solid;
            border-bottom: 1px solid #fff;
            border-left: 1px transparent solid;
            border-right: 1px transparent solid;

            &:last-of-type {
                border-bottom: 1px transparent solid;
            }
        }
    }
    .our-client__clients-info {
        flex-direction: column;
    }
    .clients-info__title {
        width: 100%;
        margin-bottom: 16px;
    }
    .contacts-map__map-inner {
        height: 70vh;
    }
}